* {margin: 0;padding: 0;}



		@import url(http://weloveiconfonts.com/api/?family=entypo);

		/* entypo */
		[class*="entypo-"]:before {
		   font-family: "entypo", sans-serif;
		}

		a { 
		   text-decoration: none;
		}

		ul {
		   list-style: none;
		   margin: 0;
		   padding: 0;
		}

		.container {
		   margin: 0 auto;
		   padding: 20px 50px;
		   background:white;
		}

		#sticky-social {
		   left: 0;
		   position: fixed;
		   top: 150px;
		}

		#sticky-social a {
		   background: #333;
		   color: #fff;
		   display: block;
		   height: 35px;
		   font: 16px "Open Sans", sans-serif;
		   line-height: 35px;
		   position: relative;
		   text-align: center;
		   width: 35px;
		}

		#sticky-social a:hover span {
		   left: 100%;
		}

		#sticky-social a span {
		   line-height: 35px;
		   left: -120px;
		   position: absolute;
		   text-align:center;
		   width:120px;
		}

		#sticky-social a[class*="facebook"],
		#sticky-social a[class*="facebook"]:hover,
		#sticky-social a[class*="facebook"] span { background: #3b5998; }

		#sticky-social a[class*="twitter"],
		#sticky-social a[class*="twitter"]:hover,
		#sticky-social a[class*="twitter"] span { background: #00aced; }

		#sticky-social a[class*="gplus"],
		#sticky-social a[class*="gplus"]:hover,
		#sticky-social a[class*="gplus"] span { background: #dd4b39; }	

		#sticky-social a[class*="instagrem"],
		#sticky-social a[class*="instagrem"]:hover,
		#sticky-social a[class*="instagrem"] span { background: #517fa4; }	

		#sticky-social a[class*="flickr"],
		#sticky-social a[class*="flickr"]:hover,
		#sticky-social a[class*="flickr"] span { background: #ff0084; }	

	
body{font-family: 'Montserrat', sans-serif;
    background-color: #0e7aa8;
}

#page1 {
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: whitesmoke;
    
    padding: 30px;
    color: #27aae1;
    margin: auto;
}

.photo-and-name {
    /* NO STYLE NEEDED YET */
}

.photo {
    width: 15%;
    min-width: 130px;
    float: left;
    margin-right: 20px;
}

.contact-info-box {
    width: 70.9%;
    display: inline-block;
}

.name {
    margin-bottom: -5px;
}
.job-title {
    display: inline-block;
}

.contact-details {
    background: #27aae1;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
}

#objective {
    
}

#objective h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#objective p {
    padding: 0 5px;
    line-height: 25px;
    font-size: 14px;
    color: #000;
}

#education h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#education table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#education table tr.school-1 td:first-child {
    width: 120px;
    color: gray;
    padding-bottom: 25px;
}

#education table tr.school-2 td:first-child {
    padding-bottom: 25px;
}

#work h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#work table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

#work table tr.work-1 td:first-child {
    width: 120px;
    color: gray;
    padding-bottom: 25px;
}

#work table tr.work-1 td {
    padding-bottom: 25px;
}

#work table tr.work-2 td:first-child {
    width: 120px;
    color: gray;
}

#bio-data h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#bio-data table td {
    padding: 8px;
    font-size: 15px;
    color: #000;
}

#bio-data table tr td:first-child {
    width: 200px;
}

#bio-data table tr td:nth-child(2) {
    width: 300px;
}

